.DS_Store
JVFloatLabeledTextField.xcodeproj/project.xcworkspace/xcuserdata/rahul.xcuserdatad/UserInterfaceState.xcuserstate
JVFloatLabeledTextField.xcodeproj/xcuserdata/rahul.xcuserdatad/xcschemes/xcschememanagement.plist